* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: solid 0.1rem #68b168;
}

.table {
  width: 100%;
}

.table,
.table th,
.table td {
  border: 0.1rem solid black;
  margin: 0;
  border-collapse: collapse;
}

.table th {
  background-color: #68b168;
}

.time {
  width: 5rem;
}

.input_box {
  width: 99%;
  height: 99%;
  border: none;
  resize: none;
}

@media print {
  .table th {
    -webkit-print-color-adjust: exact;
  }
}